﻿@model Inventory.Models.Dispositivo

@{
    ViewBag.Title = "Create";
}
<hr style="border-color:white" />
<h3>Crear nuevo dispositivo</h3>
@if (ViewBag.Message != null)
{

    <script type="text/javascript">window.onload = function () { alert("@ViewBag.Message"); };</script>
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr style="border-color:black" />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.EstadoId)
        @Html.HiddenFor(model => model.EstadoInventario)


        <div class="row">
            <div class="col-md-5">

                <div align="right" class="form-group">
                    @Html.LabelFor(model => model.Nombre, "Nombre Dispositivo", htmlAttributes: new { @class = "control-label col-md-4" })
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })

                </div>

                <div align="right" class="form-group">
                    @Html.LabelFor(model => model.Marca, htmlAttributes: new { @class = "control-label col-md-4" })

                    @Html.EditorFor(model => model.Marca, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Marca, "", new { @class = "text-danger" })

                </div>

                <div align="right" class="form-group">
                    @Html.LabelFor(model => model.Modelo, htmlAttributes: new { @class = "control-label col-md-4" })

                    @Html.EditorFor(model => model.Modelo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Modelo, "", new { @class = "text-danger" })

                </div>

                <div align="right" class="form-group">
                    @Html.LabelFor(model => model.Precio, htmlAttributes: new { @class = "control-label col-md-4" })

                    @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })

                </div>

                <div align="right" class="form-group">
                    @Html.LabelFor(model => model.Serial, htmlAttributes: new { @class = "control-label col-md-4" })

                    @Html.EditorFor(model => model.Serial, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Serial, "", new { @class = "text-danger" })

                </div>



            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-5">
                <div align="right" class="form-group">
                    @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label col-md-4" })

                    @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })

                </div>

                <div align="right" class="form-group">
                    @Html.LabelFor(model => model.SedeId, "Sede", htmlAttributes: new { @class = "control-label col-md-4" })

                    @Html.DropDownList("SedeId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SedeId, "", new { @class = "text-danger" })

                </div>

                <div align="right" class="form-group">
                    @Html.LabelFor(model => model.LaboratorioId, htmlAttributes: new { @class = "control-label col-md-4" })

                    @Html.DropDownList("LaboratorioId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LaboratorioId, "", new { @class = "text-danger" })

                </div>

                <div align="right" class="form-group">
                    @Html.LabelFor(model => model.Identificador, "Identificador Dispositivo", htmlAttributes: new { @class = "control-label col-md-4" })

                    @Html.EditorFor(model => model.Identificador, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Identificador, "", new { @class = "text-danger" })

                </div>

                <div align="right" class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                    @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-default" })

                </div>
                @*<div class="form-group">
                    @Html.LabelFor(model => model.EstadoId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("EstadoId", null, htmlAttributes: new { @class = "form-control" })

                        @Html.ValidationMessageFor(model => model.EstadoId, "", new { @class = "text-danger" })
                             </div>
                         </div>*@
            </div>

        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#SedeId").change(function () {
                $("#LaboratorioId").empty();
                $("#LaboratorioId").append('<option value=" 0 ">[Elija un Laboratorio...]</option>');
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetLaboratorios")',
                    dataType: 'json',
                    data: { sedeid: $("#SedeId").val() },
                    success: function (data) {
                        $.each(data, function (i, data) {
                            $("#LaboratorioId").append('<option value="'
                                + data.LaboratorioId + '">'
                                + data.Nombre + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve sedes.' + ex);
                    }
                });
                return false;
            })
        });
    </script>}
