﻿@model Inventory.Models.Dispositivo

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>
<h3>Dispositivo</h3>

<div>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <hr style="border-color:black" />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            <h4>@Html.DisplayFor(model => model.Nombre)</h4>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Laboratorio.Nombre)
        </dt>

        <dd>
            <h4> @Html.DisplayFor(model => model.Laboratorio.Nombre)</h4>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            <h4>@Html.DisplayFor(model => model.Marca)</h4>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            <h4> @Html.DisplayFor(model => model.Modelo)</h4>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            <h4> @Html.DisplayFor(model => model.Precio)</h4>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Serial)
        </dt>

        <dd>
            <h4> @Html.DisplayFor(model => model.Serial)</h4>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            <h4>@Html.DisplayFor(model => model.Fecha)</h4>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado.Nombre)
        </dt>

        <dd>
            <h4> @Html.DisplayFor(model => model.Estado.Nombre)</h4>
        </dd>

       

    </dl>
    <hr style="border-color:black" />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <h2>Esta seguro de eliminar este dispositivo?</h2>
        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-default" })
        </div>

    }
</div>
