﻿@model Inventory.Models.Dispositivo

@{
    ViewBag.Title = "Details";
}

<hr style="border-color:white" />
<h3>Informacion del dispositivo</h3>


<hr style="border-color:black" />


<hr style="border-color:white" />
<hr style="border-color:white" />

<div class="row">
    <div class="col-md-5">

        <div class="form-group">

            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.Identificador)
                </dt>

                <dd>
                    <h4>@Html.DisplayFor(model => model.Identificador)</h4>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>

                <dd>
                    <h4>@Html.DisplayFor(model => model.Nombre)</h4>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Sede.Nombre)
                </dt>

                <dd>
                    <h4> @Html.DisplayFor(model => model.Sede.Nombre)</h4>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Laboratorio.Nombre)
                </dt>

                <dd>
                    <h4> @Html.DisplayFor(model => model.Laboratorio.Nombre)</h4>
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Marca)
                </dt>

                <dd>
                    <h4>@Html.DisplayFor(model => model.Marca)</h4>
                </dd>
            @*</dl>*@



        @*</div>*@

    @*</div>
    <div class="col-md-4">

        <div class="form-group">
            <dl class="dl-horizontal">*@
                <dt>
                    @Html.DisplayNameFor(model => model.Modelo)
                </dt>

                <dd>
                    <h4> @Html.DisplayFor(model => model.Modelo)</h4>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Precio)
                </dt>

                <dd>
                    <h4>@Html.DisplayFor(model => model.Precio)</h4>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Serial)
                </dt>

                <dd>
                    <h4> @Html.DisplayFor(model => model.Serial)</h4>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Fecha)
                </dt>

                <dd>
                    <h4>@Html.DisplayFor(model => model.Fecha)</h4>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EstadoId)
                </dt>

                <dd>
                    <h4>@Html.DisplayFor(model => model.Estado.Nombre)</h4>
                </dd>



            </dl>



        </div>
    </div>

    <div class="col-md-6">

        <div class="form-group">
            @if (this.User.IsInRole("Administrador"))
            {
                @Html.ActionLink("Editar dispositivo", "Edit", new { id = Model.DispositivoId }, new { @class = "btn btn-default" })
            }
                @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-default" })
            </div>

    </div>

</div>

