﻿@model IEnumerable<Inventory.Models.Dispositivo>

@{
    ViewBag.Title = "Dispositivos";
}

<h2>Administrar Dispositivos</h2>
@if (ViewBag.Message != null)
{

    <script type="text/javascript">window.onload = function () { alert("@ViewBag.Message"); };</script>
}


@if (this.User.IsInRole("Administrador"))
{
    <p>

        @Html.ActionLink("Crear nuevo dispositivo", "Create", new { }, new { @class = "btn btn-primary" })
        @*@Html.ActionLink("Listar laboratorios dispositivos", "Create", new { }, new { @class = "btn btn-primary" })*@
    </p>

    <hr style="border-color:black" />
    <table class="table table-bordered table-striped mb-none" id="datatable-default">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Estado.Nombre)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Laboratorio.Nombre)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Sede.Nombre)
            </th>




            <th></th>
        </tr>

        @foreach (var item in Model)
        {

            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Estado.Nombre)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Laboratorio.Nombre)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Sede.Nombre)
                </td>






                <td align="right">



                    @Html.ActionLink("Editar dispositivo", "Edit", new { id = item.DispositivoId }, new { @class = "btn btn-default" })
                    @*@Html.ActionLink("Eliminar", "Delete", new { id = item.DispositivoId }, new { @class = "btn btn-danger" })*@
                    @Html.ActionLink("Informacion dispositivo", "Details", new { id = item.DispositivoId }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Historial", "Index", "Historicos", new { id = item.DispositivoId }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Registrar Historico", "Create", "Historicos", new { id = item.DispositivoId }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }

    </table>


}




else
{
    <hr style="border-color:black" />
    <table class="table table-bordered table-striped mb-none" id="datatable-default">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Estado.Nombre)
            </th>






            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Estado.Nombre)
                </td>








                <td align="right">

                    @*@Html.ActionLink("Eliminar", "Delete", new { id = item.DispositivoId }, new { @class = "btn btn-danger" })*@
                    @Html.ActionLink("Informacion dispositivo", "Details", new { id = item.DispositivoId }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Historial", "Index", "Historicos", new { id = item.DispositivoId }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Registrar Historico", "Create", "Historicos", new { id = item.DispositivoId }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }

    </table>
}