﻿@model Inventory.Models.Usuario

@{
    ViewBag.Title = "Activar_Desactivar";
}
<hr style="border-color:white" />
<h3>Modificar estado del usuario</h3>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr style="border-color:black" />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Logueo)
    @Html.HiddenFor(model => model.Nombre)
    @Html.HiddenFor(model => model.Cargo)
    @Html.HiddenFor(model => model.Apellidos)
    @Html.HiddenFor(model => model.Documento)
    @Html.HiddenFor(model => model.Direccion)
    @Html.HiddenFor(model => model.Telefono)
    @Html.HiddenFor(model => model.Rol)
    @Html.HiddenFor(model => model.SedeId)
    @Html.HiddenFor(model => model.LaboratorioId)
    @Html.HiddenFor(model => model.Usuarioid)
    @Html.HiddenFor(model => model.Valediasp)

    <hr style="border-color:white" />
    <hr style="border-color:white" />



    @*<div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="row">
        <div class="col-md-2">
            <h4>Usuario: </h4>

        </div>
        <div class="col-md-6">



            <h4>@Html.DisplayFor(item => item.Nombre)</h4>
            <h4>@Html.DisplayFor(item => item.Apellidos)</h4>



        </div>
    </div>


    <hr style="border-color:white" />
    <hr style="border-color:white" />




    @*<div class="col-md-4">
            @Html.DisplayFor(item => item.Direccion)
        </div>




        <div class="col-md-4">
            @Html.DisplayFor(item => item.Telefono)
        </div>*@

    <div class="row">
        <div class="col-md-6">


            <div class="form-group">
                @Html.LabelFor(model => model.Estado, "Estado", htmlAttributes: new { @class = "control-label col-md-2" })


                @Html.CheckBox("Estado", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })

            </div>
        </div>
        <div class="col-md-6">


            <div class="form-group">

                <input type="submit" value="Guardar" class="btn btn-primary" />
                @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-default" })

            </div>
        </div>
    </div>
</div>
}

<div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
