﻿@model Inventory.Models.Usuario

@{
    ViewBag.Title = "Create";
}
<hr style="border-color:white" />
<h3>Crear nuevo usuario</h3>

@if (ViewBag.Message != null)
{

    <script type="text/javascript">window.onload = function () { alert("@ViewBag.Message"); };</script>
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr style="border-color:black" />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Estado)


        <hr style="border-color:white" />
        <hr style="border-color:white" />


        <div class="row">

            <div class="col-md-4">
                @*columna2*@

                <div align="right" class="form-group">
                    @Html.LabelFor(model => model.Logueo, "Email", htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Logueo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Logueo, "", new { @class = "text-danger" })
                </div>

                <div align="right" class="form-group">
                    @Html.LabelFor(model => model.Contraseña, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Contraseña, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Contraseña, "", new { @class = "text-danger" })
                </div>

                <div align="right" class="form-group">
                    @Html.LabelFor(model => model.Confircontraseña, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Confircontraseña, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Confircontraseña, "", new { @class = "text-danger" })
                </div>

                <div align="right" class="form-group">
                    @Html.LabelFor(model => model.Nombre, "Nombre", htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>

                <div align="right" class="form-group">
                    @Html.LabelFor(model => model.Apellidos, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Apellidos, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Apellidos, "", new { @class = "text-danger" })
                </div>

                <div align="right" class="form-group">
                    @Html.LabelFor(model => model.Documento, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Documento, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Documento, "", new { @class = "text-danger" })
                </div>


            </div>
            <div class="col-md-1">
            </div>
            @* ------------------------------------------------------------------------------------------------------ *@

            <div class="col-md-4">
                @*columna4*@


                <div align="right" class="form-group">
                    @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                </div>

                <div align="right" class="form-group">
                    @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                </div>
                <div align="right" class="form-group">
                    @Html.LabelFor(model => model.Cargo, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Cargo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Cargo, "", new { @class = "text-danger" })
                </div>

                <div align="right" class="form-group">
                    @Html.LabelFor(model => model.SedeId, "Sede", htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.DropDownList("SedeId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SedeId, "", new { @class = "text-danger" })
                </div>

                <div align="right" class="form-group">
                    @Html.LabelFor(model => model.LaboratorioId, "Laboratorio", htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.DropDownList("LaboratorioId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LaboratorioId, "", new { @class = "text-danger" })
                </div>

                <div align="right" class="form-group">
                    @Html.LabelFor(model => model.Rol, "Rol administrador", htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.CheckBox("Rol", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Rol, "", new { @class = "text-danger" })
                </div>
            </div>


            <div align="right" class="col-md-2">
                <div class="form-group">
                    @*<div class="col-md-offset-2 col-md-10">*@
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
                <div class="form-group">
                    @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-default" })
                    @*</div>*@
                </div>


            </div>

        </div>

    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#SedeId").change(function () {
                $("#LaboratorioId").empty();
                $("#LaboratorioId").append('<option value=" 0 ">[Elija un Laboratorio...]</option>');
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetLaboratorios")',
                    dataType: 'json',
                    data: { sedeid: $("#SedeId").val() },
                    success: function (data) {
                        $.each(data, function (i, data) {
                            $("#LaboratorioId").append('<option value="'
                                + data.LaboratorioId + '">'
                                + data.Nombre + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve sedes.' + ex);
                    }
                });
                return false;
            })
        });
    </script>
}
