﻿@model Inventory.Models.Usuario

@{
    ViewBag.Title = "Informacion";
}
<hr style="border-color:white" />
<h3>Informacion del Usuario</h3>

<hr style="border-color:black" />

<hr style="border-color:white" />
@*@Html.HiddenFor(model => model.Valediasp)*@
<div class="row">
    <div class="col-md-6">

        <div class="form-group">



            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.Logueo)

                </dt>

                <dd>
                    <h4>@Html.DisplayFor(model => model.Logueo)</h4>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Estado)
                </dt>

                <dd>
                    <h4>@Html.DisplayFor(model => model.Estado)</h4>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Laboratorio.Nombre)
                </dt>

                <dd>
                    <h4> @Html.DisplayFor(model => model.Laboratorio.Nombre)</h4>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Sede.Nombre)
                </dt>

                <dd>
                    <h4> @Html.DisplayFor(model => model.Sede.Nombre)</h4>
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>

                <dd>
                    <h4> @Html.DisplayFor(model => model.Nombre)</h4>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Apellidos)
                </dt>

                <dd>
                    <h4> @Html.DisplayFor(model => model.Apellidos)</h4>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Documento)
                </dt>

                <dd>
                    <h4> @Html.DisplayFor(model => model.Documento)</h4>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Direccion)
                </dt>

                <dd>
                    <h4>@Html.DisplayFor(model => model.Direccion)</h4>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Telefono)
                </dt>

                <dd>
                    <h4>@Html.DisplayFor(model => model.Telefono)</h4>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Cargo)
                </dt>

                <dd>
                    <h4> @Html.DisplayFor(model => model.Cargo)</h4>
                </dd>

            </dl>

        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            @Html.ActionLink("Editar usuario", "Edit", new { id = Model.Usuarioid }, new { @class = "btn btn-default" })
        </div>
        <div class="form-group">
            @Html.ActionLink("Modificar estado", "Activar_Desactivar", new { id = Model.Usuarioid }, new { @class = "btn btn-primary" })
        </div>
        <div class="form-group">
            @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-default" })

        </div>
    </div>
</div>