﻿@model IEnumerable<Inventory.Models.UsuarioIndexVista>

@{
    ViewBag.Title = "Index";
}
<hr style="border-color:white" />
<h2>Administrar Usuarios</h2>
@if (ViewBag.Message != null)
{

    <script type="text/javascript">window.onload = function () { alert("@ViewBag.Message"); };</script>
}

<p>


    @Html.ActionLink("Crear nuevo usuario", "Create", new { }, new { @class = "btn btn-primary" })
    @*@Html.ActionLink("Listar usuarios inactivos", "Listar_Inactivos", new { }, new { @class = "btn btn-primary" })*@



</p>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<hr style="border-color:black" />
@*<table class="table">*@
<table class="table table-bordered table-striped mb-none" id="datatable-default">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cargo)
        </th>
        <th align="center">
            @Html.DisplayNameFor(model => model.EsAdministrador)
        </th>

        <th align="center">
            @Html.DisplayNameFor(model => model.Estado)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Cargo)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.EsAdministrador)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @*@Html.ActionLink("ES O NO Administrator", "OnOffAdmin", new { id = item.Usuarioid }, new { @class = "btn btn-info" })*@
                @Html.ActionLink("Editar usuario", "Edit", new { id = item.Usuarioid }, new { @class = "btn btn-default" })
                @Html.ActionLink("Informacion usuario", "Details", new { id = item.Usuarioid }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Modificar estado", "Activar_Desactivar", new { id = item.Usuarioid }, new { @class = "btn btn-primary" })

            </td>
        </tr>
    }

</table>
