﻿@model IEnumerable<Inventory.Models.UsuarioIndexVista>

@{
    ViewBag.Title = "Listar_Inactivos";
}

<h2>Usuarios Inactivos</h2>

@Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-default" })
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Apellidos)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Documento)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Cargo)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Laboratorio.Nombre)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.EsAdministrador)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Documento)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Cargo)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Laboratorio.Nombre)
            </td>

            <td align="center">
                @Html.DisplayFor(modelItem => item.EsAdministrador)
            </td>

            <td align="right">
                @Html.ActionLink("Editar datos de la sede", "Edit", new { id = item.Usuarioid }, new { @class = "btn btn-warning" })
                @*@Html.ActionLink("Eliminar", "Delete", new { id = item.SedeId }, new { @class = "btn btn-danger" })
                    @Html.ActionLink("Informacion de la sede", "Details", new { id = item.SedeId }, new { @class = "btn btn-info" })*@

            </td>
            <td></td>
        </tr>
    }

</table>


