﻿@model Inventory.Models.RecuperarContraseña

@{
    ViewBag.Title = "RecuperarContraseña";
}

<hr style="border-color:white" />

<h2>Recuperar contraseña</h2>
@if (ViewBag.Message != null)
{

    <script type="text/javascript">window.onload = function () { alert("@ViewBag.Message"); };</script>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr style="border-color:black" />
        <h4>Ingrese la nueva contraseña</h4>
        @if (ViewBag.Message != null)
        {

            <script type="text/javascript">window.onload = function () { alert("@ViewBag.Message"); };</script>
        }

            <hr style="border-color:white" />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nuevacontraseña,"Nueva contraseña", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nuevacontraseña, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nuevacontraseña, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Confirmarcontraseña,"Confirmar la nueva contraseña", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Confirmarcontraseña, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Confirmarcontraseña, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.HiddenFor(r => r.Recuperarcontraseña)
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Actualizar contraseña" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

