﻿@model Inventory.Models.Restablecercontraseña
@{
    ViewBag.Title = "Restablecercontraseña";
}
<hr style="border-color:white" />
<h2>Restablecer contraseña</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    <hr style="border-color:black" />
    <hr style="border-color:white" />

    <h4>Ingrese su correo electrónico.</h4>
    @if (ViewBag.Message != null)
    {

        <script type="text/javascript">window.onload = function () { alert("@ViewBag.Message"); };</script>
    }

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <hr style="border-color:white" />
    <hr style="border-color:white" />
    <div class="row">
        <div align="left" class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(model => model.RestablecerContraseña, "Correo electronico", htmlAttributes: new { @class = "control-label col-md-2" })
                @*@Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })*@
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RestablecerContraseña, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RestablecerContraseña, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="col-md-12">

                <hr style="border-color:white" />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">

                        <input type="submit" value="Restablecer" class="btn btn-primary" />
                    </div>


                </div>
                <hr style="border-color:white" />
            </div>
        </div>
    </div>
</div>


}







@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}