﻿@model Inventory.Models.Centrodecosto

@{
    ViewBag.Title = "Details";
}

<h2>Informacion</h2>

<div>
    <h3>Centro de costos</h3>
    <hr style="border-color:black" />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            <h4> @Html.DisplayFor(model => model.Nombre)</h4>
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Responsable)
        </dt>

        <dd>
            <h4> @Html.DisplayFor(model => model.Responsable)</h4>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            <h4> @Html.DisplayFor(model => model.Telefono)</h4>
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            <h4> @Html.DisplayFor(model => model.Estado)</h4>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sede.Nombre)
        </dt>

        <dd>
            <h4>@Html.DisplayFor(model => model.Sede.Nombre)</h4>
        </dd>



    </dl>
</div>
<hr style="border-color:black" />
<p>
    @Html.ActionLink("Editar centro de costos", "Edit", new { id = Model.CentrodecostoId }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-default" })
    
</p>
