﻿@model IEnumerable<Inventory.Models.Centrodecosto>

@{
    ViewBag.Title = "Index";
}

<h2>Administrar Centros de costos</h2>
@if (ViewBag.Message != null)
{

    <script type="text/javascript">window.onload = function () { alert("@ViewBag.Message"); };</script>
}


<p>
    @Html.ActionLink("Crear nuevo centro de costos", "Create", new { }, new { @class = "btn btn-primary" })

</p>
<hr style="border-color:black" />
<table class="table table-bordered table-striped mb-none" id="datatable-default">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sede.Nombre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sede.Nombre)
            </td>

            <td align="right">
                @Html.ActionLink("Editar centro de costos", "Edit", new { id = item.CentrodecostoId }, new { @class = "btn btn-default" })
                @Html.ActionLink("Modificar Estado", "Activar_Desactivar", new { id = item.CentrodecostoId }, new { @class = "btn btn-primary" })
                @*@Html.ActionLink("Informacion centro de costos", "Details", new { id = item.CentrodecostoId }, new { @class = "btn btn-info" })*@

            </td>
        </tr>
    }

</table>
