﻿@model Inventory.Models.Estado

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>


<div>

    <h3>Estado</h3>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <hr style="border-color:black" />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            <h4>@Html.DisplayFor(model => model.Nombre)</h4>
        </dd>

    </dl>
    <hr style="border-color:black" />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <h2>Esta seguro de eliminar el estado?</h2>
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-default" })
        </div>
    }
</div>
