﻿@model IEnumerable<Inventory.Models.Estado>

@{
    ViewBag.Title = "Index";
}

<h2>Administrar Estados</h2>

<p>

    @Html.ActionLink("Crear nuevo Estado", "Create", new { }, new { @class = "btn btn-primary" })
   
</p>
<hr style="border-color:black" />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td align="right">

            @Html.ActionLink("Editar estado", "Edit", new { id = item.EstadoId }, new { @class = "btn btn-warning" })
            @*@Html.ActionLink("Eliminar", "Delete", new { id = item.EstadoId }, new { @class = "btn btn-danger" })*@
            @*@Html.ActionLink("Informacion del usuario", "Details", new { id = item.Usuarioid }, new { @class = "btn btn-info" })*@

        </td>
    </tr>
}

</table>
