﻿@using Inventory.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";
}

<h2>Iniciar sesion</h2>
@if (ViewBag.Message != null)
{

    <script type="text/javascript">window.onload = function () { alert("@ViewBag.Message"); };</script>
}


<hr style="border-color:black" />
<h4>Ingrese su email y su contraseña</h4>

<hr style="border-color:white" />
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="row">
    <section id="loginForm">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="col-md-2">
            </div>
            <div class="col-md-2">

                <div align="right">
                    @Html.LabelFor(m => m.Email, new { @class = " control-label col-md-2" })
                </div>
                <hr style="border-color:white" />
                <hr style="border-color:white" />
                <hr style="border-color:white" />

                <div align="right">
                    @Html.LabelFor(m => m.Password, new { @class = "control-label col-md-2" })
                </div>


            </div>

            <div align="left" class="col-md-6">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                <hr style="border-color:white" />
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                <hr style="border-color:white" />

                <hr style="border-color:white" />

                <input type="submit" value="Iniciar sesión" class="btn btn-primary" />
                @Html.ActionLink("¿Ha olvidado su contraseña?", "Restablecercontraseña", "Usuarios")



                <div align="center" class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>





            </div>







        }


    </section>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}