﻿@model Inventory.Models.Reporte
@{
    ViewBag.Title = "Create";
}
<hr style="border-color:white" />
<h2>Generar Reporte</h2>
@if (ViewBag.Message != null)
{

    <script type="text/javascript">window.onload = function () { alert("@ViewBag.Message"); };</script>
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <hr style="border-color:black" />
        @if (this.User.IsInRole("Usuario"))
        {
            @Html.HiddenFor(model => model.LaboratorioId)
            @Html.HiddenFor(model => model.SedeId)
        }
            <div class="row">
                <div class="col-md-6">
                    <h4>Elija las fechas de compra</h4>

                    <div class="form-group">
                        @Html.LabelFor(model => model.FechaInicio, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.FechaInicio, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FechaInicio, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.FechaFinal, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.FechaFinal, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FechaFinal, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.EstadoId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("EstadoId", null, htmlAttributes: new { @class = "form-control" })

                            @Html.ValidationMessageFor(model => model.EstadoId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @if (this.User.IsInRole("Administrador"))
                    {

                        <div class="form-group">
                            @Html.LabelFor(model => model.SedeId, "Sede", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("SedeId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SedeId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.LaboratorioId, "Laboratorio", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("LaboratorioId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.LaboratorioId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    }
                </div>



                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Agregar al reporte" class="btn btn-primary" />
                            @*@Html.ActionLink("Regresar", "Index", "Home", new { }, new { @class = "btn btn-default" })
                            @Html.ActionLink("Exportar Reporte", "PDF", new { }, new { @class = "btn btn-default", target = "_blank" })*@

                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            @Html.ActionLink("Exportar Reporte", "PDF", new { }, new { @class = "btn btn-default", target = "_blank" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            @Html.ActionLink("Limpiar campos", "Create", "Reportes", new { }, new { @class = "btn btn-primary" })
                        </div>
                    </div>





                </div>

            </div>
        </div>



    <h2>Detalles del reporte</h2>

    <table class="table table-bordered table-striped mb-none" id="datatable-default">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Identificador)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Estatus)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Laboratorio)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Sede)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Marca)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Modelo)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Serial)
                </th>

            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Reportedisp)
            {
                <tr>

                    <th>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.Identificador)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.Estatus)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.Laboratorio)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.Sede)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.Marca)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.Modelo)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.Serial)
                    </th>


                </tr>
            }
        </tbody>

    </table>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#SedeId").change(function () {
                $("#LaboratorioId").empty();
                $("#LaboratorioId").append('<option value=" 0 ">[Elija un Laboratorio...]</option>');
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetLaboratorios")',
                    dataType: 'json',
                    data: { sedeid: $("#SedeId").val() },
                    success: function (data) {
                        $.each(data, function (i, data) {
                            $("#LaboratorioId").append('<option value="'
                                + data.LaboratorioId + '">'
                                + data.Nombre + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve sedes.' + ex);
                    }
                });
                return false;
            })
        });
    </script>
}
