﻿@model Inventory.Models.NuevaValidacionView
@{
    ViewBag.Title = "Validador";
}
<hr style="border-color:white" />
<h3>Validar inventario</h3>
@if (ViewBag.Message != null)
{

    <script type="text/javascript">window.onload = function () { alert("@ViewBag.Message"); };</script>
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr style="border-color:black" />

        <hr style="border-color:white" />
        @Html.ValidationSummary(true, "", new { @class = "text-success" })
        @Html.HiddenFor(model => model.Fechacompra)
        @Html.HiddenFor(model => model.Fecha)
        @Html.HiddenFor(model => model.ValidadetalleTmpId)

        <hr style="border-color:white" />
        <hr style="border-color:white" />
        <hr style="border-color:white" />


        <div class="row">
            <div class="col-md-2">

                <div class="form-group">
                   
                    <h4> @Html.LabelFor(model => model.DispoValidado, "Identificador ", htmlAttributes: new { @class = "control-label col-md-2" })</h4>


                </div>

            </div>
            <div class="col-md-4">

                <div class="form-group">
                    @Html.EditorFor(model => model.DispoValidado, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DispoValidado, "", new { @class = "text-danger" })


                </div>
            </div>

            <div class="col-md-4">

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Consultar" class="btn btn-default" />

                        @Html.ActionLink("Validar", "MostrarValidados", new { }, new { @class = "btn btn-primary" })


                    </div>
                </div>

            </div>

        </div>
    </div>


    ///////////////////////////////////////////////////////////////////////////
    <hr style="border-color:black" />
    <h3>Dispositivos validados</h3>
    <table class="table table-bordered table-striped mb-none" id="Validados">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Identificador)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Dispositivo)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Centrodecostos)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Fechacompra)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Costo)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>



                <th>
                    @Html.DisplayNameFor(model => model.EstadoInventario)
                </th>

            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.ValiDetTmp)
            {
                <tr>

                    <th>
                        @Html.DisplayFor(modelItem => item.Identificador)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.Dispositivo)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.Centrodecostos)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.Fechacompra)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.Costo)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </th>
                    @*<th>
                            Html.DisplayFor(modelItem => item.Observaciones)
                           Oservaciones: <input type="text" name="usrname" id="Observacion">

                        </th>*@
                    <th>
                        @Html.DisplayFor(modelItem => item.EstadoInventario)
                    </th>

                </tr>
            }
        </tbody>

    </table>

}










@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")




    @*<script type="text/javascript">
              $(document).ready(function () {
                  $("#DispoValidado").change(function () {
                      $("#Validados").empty();
                      $.ajax({
                            type: 'POST',
                            url: '@Url.Action("AgregarDispoValidado")',
                            dataType: 'json',
                            data: { dsp: $("#DispoValidado").val() },


                          success: function (data) {
                              var DatosJson = JSON.parse(JSON.stringify(data));

                              $("#Validados").append('<tr><td>Identificador</td>' +
                                  '<td>Dispositivo</td>' +
                                  '<td>Centro de costos</td>' + '<td>Fecha de compra</td>' +
                                  '<td>Precio</td>' +'<td>Estado</td>' +
                                  '<td>Observaciones</td>' + '<td>Estado Inventario</td>');
                              for (i = 0; i < DatosJson.length; i++) {

                                  $("#Validados").append('<tr>' +
                                      '<td>' + DatosJson.Identificador + '</td>' +
                                      '<td>' + DatosJson.Dispositivo + '</td>' +
                                      '<td>' + DatosJson.Centrodecostos + '</td>' +
                                      '<td>' + DatosJson.FechaCompra + '</td>' +
                                      '<td>' + DatosJson.Costo + '</td>' +
                                      '<td>' + DatosJson.Estado + '</td>' +
                                      '<td>' + DatosJson.Observaciones + '</td>' +
                                      '<td>' + DatosJson.EstadoInventario + '</td>' + '</tr>');
                              };
                          },


                                error: function (ex) {
                                    alert('Ocurrio una falla.' + ex);
                                }
                      });
                         return false;
                  })
              });








        </script>*@





}


