﻿@model Inventory.Models.Validador

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Validador</h4>
    <hr />
    <dl class="dl-horizontal">
      

        <dt>
            @Html.DisplayNameFor(model => model.Laboratorio.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Laboratorio.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sede.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sede.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Logueo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Logueo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Firmausuario1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firmausuario1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Firmausuario2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firmausuario2)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ValidadorId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
