﻿@model Inventory.Models.ModelConfirmarView

@{
    ViewBag.Title = "Edit";
}
<hr style="border-color:white" />
<hr style="border-color:white" />
<h3>Observaciones del estado de inventario</h3>
@if (ViewBag.Message != null)
{

    <script type="text/javascript">window.onload = function () { alert("@ViewBag.Message"); };</script>
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr style="border-color:white" />

        <hr style="border-color:black" />
        <hr style="border-color:white" />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ValidadorDetalleId)
        @Html.HiddenFor(model => model.DispositivoId)
        @Html.HiddenFor(model => model.UsuarioId)
        @Html.HiddenFor(model => model.ValidadorId)
        <hr style="border-color:white" />
        <hr style="border-color:white" />


        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    @*<div class="col-md-10">*@
                    <h4> @Html.LabelFor(model => model.Observaciones, htmlAttributes: new { @class = "control-label col-md-2" })</h4>
                    @*</div>*@
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @*<div class="col-md-10">*@
                    @Html.EditorFor(model => model.Observaciones, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Observaciones, "", new { @class = "text-danger" })
                    @*</div>*@
                </div>
            </div>


            @*<div class="col-md-3">*@
            <div class="form-group">
                <div class="col-md-offset-2 col-md-3">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                    @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-default" })
                </div>
            </div>
            @*</div>*@

        </div>
    </div>

}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
