﻿@model Inventory.Models.Validador
@{
    ViewBag.Title = "FirmarValidacion";
}

<h2>Agregar firmas a la validacion</h2>
@if (ViewBag.Message != null)
{

    <script type="text/javascript">window.onload = function () { alert("@ViewBag.Message"); };</script>
}


@using (Html.BeginForm("FirmarValidacion", "Validaciones", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr style="border-color:black" />
        <hr style="border-color:white" />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ValidadorId)
        @Html.HiddenFor(model => model.UsuarioId)
        @Html.HiddenFor(model => model.Fecha)
        @Html.HiddenFor(model => model.CentrodecostoId)
        @Html.HiddenFor(model => model.LaboratorioId)
        @Html.HiddenFor(model => model.SedeId)
        <h2>Firmas</h2>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Firmausuario1Imagen, "Primera", htmlAttributes: new { @class = "control-label col-md-2" })
                </div>


                <div class="form-group">

                    @Html.LabelFor(model => model.Firmausuario2Imagen, "Segunda", htmlAttributes: new { @class = "control-label col-md-2" })


                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">


                    <span class="btn btn-default btn-file">
                        @Html.TextBoxFor(modelo => modelo.Firmausuario1Imagen, new { type = "file" })
                    </span>

                    @*@Html.EditorFor(model => model.Firmausuario1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Firmausuario1, "", new { @class = "text-danger" })*@

                </div>


                <div class="form-group">

                    <span class="btn btn-default btn-file">
                        @Html.TextBoxFor(modelo => modelo.Firmausuario2Imagen,"Seleccionar firma", new { type = "file" })
                    </span>

                    @*@Html.EditorFor(model => model.Firmausuario2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Firmausuario2, "", new { @class = "text-danger" })*@


                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-3">
                    <div class="form-group">
                        <input type="submit" value="Guardar Firmas" class="btn btn-primary" target="_blank" />

                    </div>


                    <div class="form-group">
                        @Html.ActionLink("Exportar validacion", "PDF", new { }, new { @class = "btn btn-default", target = "_blank" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

