﻿@model IEnumerable<Inventory.Models.ValidadorDetalle>

@{
    ViewBag.Title = "Resumen";
}

<h2>Resumen de la validacion</h2>
@if (ViewBag.Message != null)
{

    <script type="text/javascript">window.onload = function () { alert("@ViewBag.Message"); };</script>
}



<div align="center">
    @Html.ActionLink("Firmar reporte de validacion", "FirmarValidacion", new { }, new { @class = "btn btn-primary" })
</div>
<hr style="border-color:black" />


<table class="table table-bordered table-striped mb-none" id="datatable-default">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Dispositivo.Identificador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dispositivo.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dispositivo.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dispositivo.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dispositivo.Estado.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dispositivo.EstadoInventario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dispositivo.Observaciones)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dispositivo.Identificador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dispositivo.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dispositivo.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dispositivo.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dispositivo.Estado.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dispositivo.EstadoInventario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dispositivo.Observaciones)
            </td>
            <td align="right">
                @Html.ActionLink("Observaciones", "Edit", new { id = item.ValidadorDetalleId }, new { @class = "btn btn-default" })

            </td>
        </tr>
    }

</table>
