﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - INVENTORY</title>
    @Styles.Render("~/Content/css") 
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                   
                    <li><IMG src="~/Imagenes/itm1.png" width="90" height="40" /></li>

                    @if (this.User.IsInRole("Usuario") || this.User.IsInRole("Administrador"))
                    {



                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Herramientas generales<b class="caret"></b></a>
                            <ul class="dropdown-menu">

                                <li>@Html.ActionLink("Administrar Dispositivos", "Index", "Dispositivos")</li>
                                <li>@Html.ActionLink("Generar reporte", "Create", "Reportes")</li>
                                <li>@Html.ActionLink("Validador", "Create", "Validaciones")</li>
                                <li>@Html.ActionLink("Ir al Inicio", "Index", "Home")</li>
                            </ul>
                        </li>
                    }

                    @if (this.User.IsInRole("Administrador"))
                    {

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Herramientas administrador<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Administrar Sedes", "Index", "Sedes")</li>

                                <li>@Html.ActionLink("Administrar Centros de costos", "Index", "Centrodecostos")</li>
                                @*<li>@Html.ActionLink("Administrar Estados", "Index", "Estados")</li>*@
                                <li>@Html.ActionLink("Administrar Laboratorios", "Index", "Laboratorios")</li>
                                <li>@Html.ActionLink("Administrar Usuarios", "Index", "Usuarios")</li>


                            </ul>
                        </li>

                    }




                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>APLICACIONES EDIWILL</p>

           
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
