﻿@using Microsoft.AspNet.Identity
@using Inventory.Models

@if (Request.IsAuthenticated)
{
    InventoryContext db = new InventoryContext();

    var autentic = User.Identity.IsAuthenticated;
    var nametemp = User.Identity.Name;
    var usutemp = db.Usuarios.Where(s => s.Logueo.Equals(nametemp)).FirstOrDefault();




    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">

    <li>
        @Html.ActionLink("Bienvenido  " + usutemp.Nombre + " " + usutemp.Apellidos + "", "ChangePassword", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
    </li>

    <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
    

</ul>
    }
}

else
{
<ul class="nav navbar-nav navbar-right">
   
    <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    
</ul>
}



