﻿@model Inventory.Models.Sede

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>
<h3>Sede</h3>

<hr style="border-color:black"/>


<div>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })





    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            <h4>@Html.DisplayFor(model => model.Nombre)</h4>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            <h4>@Html.DisplayFor(model => model.Direccion)</h4>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            <h4> @Html.DisplayFor(model => model.Telefono)</h4>
        </dd>

    </dl>
    <hr style="border-color:black" />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <h2>Esta seguro de elimnar esta sede?</h2>
        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-default" })

        </div>

    }
</div>

  
    
