﻿@model Inventory.Models.Sede

@{
    ViewBag.Title = "Details";
}

<hr style="border-color:white" />
<h2>Informacion de la sede</h2>


<hr style="border-color:black" />

<hr style="border-color:white" />
<hr style="border-color:white" />

<div class="row">
    <div class="col-md-6">

        <div class="form-group">

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>

                <dd>
                    <h4>@Html.DisplayFor(model => model.Nombre)</h4>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Direccion)
                </dt>

                <dd>
                    <h4>@Html.DisplayFor(model => model.Direccion)</h4>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Telefono)
                </dt>

                <dd>
                    <h4> @Html.DisplayFor(model => model.Telefono)</h4>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Estado)
                </dt>

                <dd>
                    <h4> @Html.DisplayFor(model => model.Estado)</h4>
                </dd>
            </dl>
        </div>
    </div>
    <div class="col-md-4">

        <div class="form-group">
            <hr style="border-color:white" />
            <p>
                @Html.ActionLink("Editar sede", "Edit", new { id = Model.SedeId }, new { @class = "btn btn-default" })

                @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-default" })
            </p>
        </div>
    </div>
</div>