﻿@model Inventory.Models.Sede

@{
    ViewBag.Title = "Edit";
}

<hr style="border-color:white" />
<h3>Editar informacion de la sede</h3>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">window.onload = function () { alert("@ViewBag.Message"); };</script>

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr style="border-color:black" />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.SedeId)
        @Html.HiddenFor(model => model.Estado)




        <hr style="border-color:white" />
        <hr style="border-color:white" />

        <div class="row">
            <div class="col-md-8">

                <div class="form-group">
                    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                    @*<div class="col-md-10">*@
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    @*</div>*@
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label col-md-2" })
                    @*<div class="col-md-10">*@
                    @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                    @*</div>*@
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
                    @*<div class="col-md-10">*@
                    @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                    @*</div>*@
                </div>

                @*<div class="form-group">
                            @Html.LabelFor(model => model.Estado, "Estado", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">

                                @Html.CheckBox("Estado", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                            </div>
                    </div>*@

            </div>
            <div class="col-md-4">
                <hr style="border-color:white" />

                <div class="form-group">
                    @*<div class="col-md-offset-2 col-md-10">*@
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                    @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-default" })

                    @*</div>*@
                </div>
            </div>
        </div>
    </div>
}

<div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
