﻿@model IEnumerable<Inventory.Models.Sede>

@{
    ViewBag.Title = "Administrar Sedes";
}
<hr style="border-color:white" />
<h2>Administrar Sedes</h2>

<p>
    @Html.ActionLink("Crear nueva Sede", "Create", new { }, new { @class = "btn btn-primary" })
    @*@Html.ActionLink("Listar sedes inactivas", "Create", new { }, new { @class = "btn btn-primary" })*@

</p>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">window.onload = function () { alert("@ViewBag.Message"); };</script>

}





<hr style="border-color:black" />
@*<table class="table">*@
<table class="table table-bordered table-striped mb-none" id="datatable-default">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td align="right">
                @Html.ActionLink("Editar sede", "Edit", new { id = item.SedeId }, new { @class = "btn btn-default" })
                @Html.ActionLink("Informacion sede", "Details", new { id = item.SedeId }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Modificar estado", "Activar_Desactivar", new { id = item.SedeId }, new { @class = "btn btn-primary" })

            </td>
        </tr>
    }

</table>
