﻿@model Inventory.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Cambiar contraseña";
}
<hr style="border-color:white" />
<h3>@ViewBag.Title.</h3>

@if (ViewBag.Message != null)
{

    <script type="text/javascript">window.onload = function () { alert("@ViewBag.Message"); };</script>
}

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr style="border-color:black" />
        <h4>Formulario para cambiar la contraseña</h4>

        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <h5>Anterior contraseña</h5>
                    @*@Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })*@
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <h5>Nueva contraseña</h5>
                    @*@Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })*@
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <h5>Confirme la contraseña</h5>
                    @*@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })*@
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <hr style="border-color:white" />
                <hr style="border-color:white" />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">

                        <input type="submit" value="Cambiar contraseña" class="btn btn-primary" />
                    </div>
                    <hr style="border-color:white" />
                    <div class="col-md-offset-2 col-md-10">
                        @Html.ActionLink("Regresar", "Index", "Home", new { }, new { @class = "btn btn-default" })

                    </div>
                </div>

            </div>
        </div>
    </div>

}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
