﻿@model Inventory.Models.Laboratorio

@{
    ViewBag.Title = "Create";
}
<hr style="border-color:white" />
<h3>Crear nuevo laboratorio</h3>
@if (ViewBag.Message != null)
{
    
<script type="text/javascript">window.onload = function () { alert("@ViewBag.Message"); };</script>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr style="border-color:black" />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Estado)
    <hr style="border-color:white" />
    <hr style="border-color:white" />


    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                @*<div class="col-md-10">*@
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                @*</div>*@
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
                @*<div class="col-md-10">*@
                @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                @*</div>*@
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.SedeId, "Sede", htmlAttributes: new { @class = "control-label col-md-2" })
                @*<div class="col-md-10">*@
                @Html.DropDownList("SedeId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SedeId, "", new { @class = "text-danger" })
                @*</div>*@
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CentrodecostoId, htmlAttributes: new { @class = "control-label col-md-2" })
                @*<div class="col-md-10">*@
                @Html.DropDownList("CentrodecostoId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CentrodecostoId, "", new { @class = "text-danger" })
                @*</div>*@
            </div>

            @*<div class="form-group">
                    @Html.LabelFor(model => model.Estado, "Laboratorio Activo", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">

                        @Html.CheckBox("Estado", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                    </div>
                </div>*@
        </div>
        <div class="col-md-4">
            <hr style="border-color:white" />
            <div class="form-group">
                @*<div class="col-md-offset-2 col-md-10">*@
                <input type="submit" value="Guardar" class="btn btn-primary" />
                @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-default" })
                @*</div>*@
            </div>
        </div>
    </div>

</div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
            $(document).ready(function () {
                $("#SedeId").change(function () {
                    $("#CentrodecostoId").empty();
                    $("#CentrodecostoId").append('<option value=" 0 ">[Elija un Centro de caorro...]</option>');
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("GetCencost")',
                        dataType: 'json',
                        data: { sedeid: $("#SedeId").val() },
                        success: function (data) {
                            $.each(data, function (i, data) {
                                $("#CentrodecostoId").append('<option value="'
                                    + data.CentrodecostoId + '">'
                                    + data.Nombre + '</option>');
                            });
                        },
                        error: function (ex) {
                            alert('Failed to retrieve sedes.' + ex);
                        }
                    });
                    return false;
                })
            });
    </script>





}





