﻿@model Inventory.Models.Laboratorio

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>


<div>
    <h3>Laboratorio</h3>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <hr style="border-color:black" />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            <h4> @Html.DisplayFor(model => model.Nombre)</h4>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sede.Nombre)
        </dt>

        <dd>
            <h4> @Html.DisplayFor(model => model.Sede.Nombre)</h4>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            <h4> @Html.DisplayFor(model => model.Telefono)</h4>
        </dd>

    </dl>
    <hr style="border-color:black" />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <h2>Esta seguro de eliminar el laboratorio?</h2>
        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-default" })
        </div>

    }
</div>
