﻿@model Inventory.Models.Laboratorio

@{
    ViewBag.Title = "Details";
}

<hr style="border-color:white" />
<h3>Informacion del laboratorio</h3>


<hr style="border-color:black" />


<hr style="border-color:white" />
<hr style="border-color:white" />

<div class="row">
    <div class="col-md-6">

        <div class="form-group">
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>

                <dd>
                    <h4> @Html.DisplayFor(model => model.Nombre)</h4>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Estado)
                </dt>

                <dd>
                    <h4> @Html.DisplayFor(model => model.Estado)</h4>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Telefono)
                </dt>

                <dd>
                    <h4> @Html.DisplayFor(model => model.Telefono)</h4>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Sede.Nombre)
                </dt>

                <dd>
                    <h4> @Html.DisplayFor(model => model.Sede.Nombre)</h4>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Centrodecosto.Nombre)
                </dt>

                <dd>
                    <h4> @Html.DisplayFor(model => model.Centrodecosto.Nombre)</h4>
                </dd>


            </dl>
        </div>

    </div>
    <div class="col-md-4">

        <div class="form-group">

            <p>

                @Html.ActionLink("Editar laboratorio", "Edit", new { id = Model.LaboratorioId }, new { @class = "btn btn-default" })
                @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-default" })
            </p>
        </div>

    </div>
</div>

   