﻿@model IEnumerable<Inventory.Models.Laboratorio>

@{
    ViewBag.Title = "Index";
}
<hr style="border-color:white" />
<h2>Administrar laboratorios</h2>
@if (ViewBag.Message != null)
{

    <script type="text/javascript">window.onload = function () { alert("@ViewBag.Message"); };</script>
}

<p>
    @Html.ActionLink("Crear nuevo laboratorio", "Create", new { }, new { @class = "btn btn-primary" })
    @*@Html.ActionLink("Listar laboratorios inactivos", "Create", new { }, new { @class = "btn btn-primary" })*@
</p>
<hr style="border-color:black" />

@*<table class="table">*@
<table class="table table-bordered table-striped mb-none" id="datatable-default">
    <tr>


        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sede.Nombre)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>


            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sede.Nombre)
            </td>

            <td align="right">
                @Html.ActionLink("Editar laboratorio", "Edit", new { id = item.LaboratorioId }, new { @class = "btn btn-default" })
                @Html.ActionLink("Informacion laboratorio", "Details", new { id = item.LaboratorioId }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Modificar estado", "Activar_Desactivar", new { id = item.LaboratorioId }, new { @class = "btn btn-primary" })

            </td>
        </tr>
    }

</table>
