﻿@model Inventory.Models.Historico

@{
    ViewBag.Title = "Create";
}
<hr style="border-color:white" />

<h3>Registrar historico</h3>

@if (ViewBag.Message != null)
{

    <script type="text/javascript">window.onload = function () { alert("@ViewBag.Message"); };</script>
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">

        <hr style="border-color:black" />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UsuarioId)
        @Html.HiddenFor(model => model.Fecha)
        @Html.HiddenFor(model => model.DispositivoId)


        <div class="row">
            <div class="col-md-3">

                <div class="form-group">
                    @Html.LabelFor(model => model.TipoId, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EstadodispositivoId, htmlAttributes: new { @class = "control-label col-md-2" })

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Observaciones, htmlAttributes: new { @class = "control-label col-md-2" })

                </div>
               



            </div>

            <div class="col-md-6">

                <div class="form-group">


                    @Html.DropDownList("TipoId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TipoId, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.DropDownList("EstadodispositivoId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EstadodispositivoId, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">



                    @Html.TextAreaFor(model => model.Observaciones, 5, 70, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Observaciones, "", new { @class = "text-danger" })
                </div>




            </div>


            @*<div class="form-group">
                    @Html.LabelFor(model => model.DispositivoId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("DispositivoId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DispositivoId, "", new { @class = "text-danger" })
                    </div>
                </div>*@

            @*<div class="form-group">
                    @Html.LabelFor(model => model.UsuarioId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("UsuarioId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.UsuarioId, "", new { @class = "text-danger" })
                    </div>
                </div>*@


            <div class="col-md-offset-2 col-md-3">
                <div>


                </div>

                <div>


                </div>


                <div class="form-group" >

                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
            </div>
        </div>

    </div>

}

@*<div>
        @Html.ActionLink("Regresar", "Index", "Dispositivos", new { }, new { @class = "btn btn-default" })
    </div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
