﻿@model Inventory.Models.Historico

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Historico</h4>
    <hr />

    @Html.HiddenFor(model => model.DispositivoId)
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tipo_Historicos.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Historicos.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dispositivo.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dispositivo.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Nombre)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.HistoricoId }) |*@
    @Html.ActionLink("Back to List", "Index",new { id = Model.DispositivoId }, new { @class = "btn btn-default" })
</p>
