﻿@model IEnumerable<Inventory.Models.Historico>

@{
    ViewBag.Title = "Index";
}

<hr style="border-color:white" />
<h3>Historial del dispositivo</h3>

<hr style="border-color:white" />


@Html.ActionLink("Regresar", "Index", "Dispositivos", new { }, new { @class = "btn btn-default" })

<hr style="border-color:black" />

<table class="table table-bordered table-striped mb-none" id="datatable-default">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tipo_Historico.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Dispositivo.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dispositivo.Identificador)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Observaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.Nombre)
        </th>


    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo_Historico.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Dispositivo.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dispositivo.Identificador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observaciones)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Usuario.Nombre)
        </td>
        @*<td>
            @Html.ActionLink("Detalles", "Details", new { id = item.HistoricoId }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Eliminar", "Delete", new { id=item.HistoricoId }, new { @class = "btn btn-danger" })

        </td>*@
    </tr>
    }

</table>
