﻿@{
    ViewBag.Title = "Home Page";
}



@if (ViewBag.Message != null)
{

    <script type="text/javascript">window.onload = function () { alert("@ViewBag.Message"); };</script>
}




<div class="jumbotron row">
    <div class="col-md-6">
        <h2>Sistema de control de inventario</h2>
        <h1>INVENTORY</h1>
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-4">
        <IMG src="~/Imagenes/itm1.png" width="260" height="190" />
    </div>
</div>



